<section class="h-dvh w-full text-white text-center relative">
  <div class="relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 font-medium text-4xl">Disfrute de tesla</h2>
      <p class="text-white text-sm">
        Programe una prueba de conducción hoy mismo
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-11">
      <div>
        <a
          class="border-2 border-white bg-white/5 backdrop-blur-md text-sm rounded font-medium px-8 py-2
            hover:bg-white hover:text-black transition-colors duration-300"
          href="#">Prueba de conducción</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 w-full -z-10">
    <img
      class="w-full object-cover object-center h-full"
      src="/Homepage-Cybertruck-Desktop-v3.png"
      alt="CyberTruck"
    />
  </div>
</section>
